* {
  max-width: 100%;
  box-sizing: border-box; 
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}

.blank {
	height: 20px;
}

.main-head {
	font-family: 'Radley', serif;
	color: black;
	padding: 5px;
	margin-top: 15px;
	font-size: 3.5rem;
}

.header {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

#main-img {
	margin: 20px 0px;
	float: right;
}


.subhead {
	margin-bottom: 0px;
}

.top {
	margin: 0;
}