<template name="layout">
<body>		
	<div class="container">
		<div class="row blank"></div>
		<div class="row top">
			<div class="twelve columns>">
				{{> header}}
			</div>	
		</div>
		<div class="row">
			<div class="twelve columns">
				{{> nav}}
		</div>		
			</div>
		<div id="mainContent">
				{{> yield}}
		</div>
		<footer>
				{{> footer}}
		</footer>	
	</div>
</body>
</template>


<template name="header">
	<div class="row header">
	<div class="three columns">
		<h1 class="main-head">Beaverton Literacy Council</h1>
		<!-- <p class="subhead">Low cost adult ESL, literacy and US Citizenship classes</p> -->
	</div>
		<div class="nine columns"><img class="u-max-full-width" id="main-img" src="booksgrad.jpg"></div>

		
		
		
			
	</div>	
</template>

