<template name="layout">
<body>
	<div class="container">
		<div class="row top">
			<div class="twelve columns>">
				{{> nav}}
				{{> header}}
			</div>	
		</div>
			<div class="twelve columns">
				
			</div>
		<div id="mainContent">
				{{> yield}}
		</div>
		<footer>
				{{> footer}}
		</footer>	
	</div>
</body>
</template>


<template name="header">
	<div class="row header">
	<div class="twelve columns subhead">
		<h1 class="main-head">Beaverton Literacy Council</h1>
		<img class="u-max-full-width" id="main-img" src="booksgrad.jpg">
		
			<p><em>Low cost adult ESL, literacy and US Citizenship classes</em></p>
	</div>	
	</div>
</template>

