.navbar {
	margin-bottom: 0px;
}

.navbar li {
	list-style: none;
	display: inline-block;
	text-decoration: none;
	font-size: 1.50rem;
	text-align: justify;
	margin: 0px 10px;
}

.primary-nav {
	text-decoration: none;
	background-color: white;
	border-bottom: solid 1px black;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.navbar li a {
	text-decoration: none;
	color: black;
	
	
}

.navbar li a:hover {
	color: #96281B;
}